@font-face {
  font-family: "mallory-book";
  src: url(https://cdn0.agoda.net/images/fonts/Mallory-Book.woff2);
}
@font-face {
  font-family: "mallory-medium";
  src: url(https://cdn0.agoda.net/images/fonts/mallory-medium.woff2);
}
@font-face {
  font-family: "mallory-light-1";
  src: url(https://cdn0.agoda.net/images/fonts/mallory-light-webfont-v01.woff2);
}
@font-face {
  font-family:  "mallory-light-2";
  src: url(https://cdn0.agoda.net/images/fonts/mallory-light-webfont-v02.woff2);
}

html {
  font-family: "mallory-book" !important;
}

.width-conten-agoda {
  width: 1100px !important;
}